* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background: white;
  font-family: Arial, sans-serif;
  font-weight: 300;
  color: #454545;
}
main {
  width: 100%;
  height: 100%;
}
h1 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 2.4rem;
  margin-bottom: 0.75rem;
  color: #e61532;
}
h3 {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
h4 {
  font-size: 0.8rem;
  text-align: center;
  text-decoration: underline;
}
p {
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  color: #e61532;
}
button {
  width: 6rem;
  height: 1.6rem; 
  border-radius: .2rem;
}
section {
  padding: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h-centered {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.input-container #source {
  padding-bottom: 6rem;
}
section.input-container #subtitle {
  width: 30%;
}
section.input-container .input-box {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
section.input-container .input-box input#user-url {
  border: 1px solid #e61532;
  width: 80%;
  height: 3rem;
  border-radius: .2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.6rem;
  color: #e61532;;
}
section.input-container .input-box input#user-url:focus { 
  border: 2px solid #e61532;
  outline:0;
}
section.input-container button#run-button {
  width: 19%;
  height: 3rem;
  background: #e61532;
  border: 1px solid #e61532;
  font-size: 1rem;
  letter-spacing: 0.025rem;
  color: white;
  transition: all 0.3s ease 0s;
}
section.input-container button#run-button:focus, section.input-container button#demo-button:focus { 
  outline:0;
}
section.input-container button#run-button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 10px rgba(230, 21, 50, 0.25);
}
section.input-container .demo-box {
  padding-top: 1rem;
}
section.input-container .demo-box p {
  font-size: 0.75rem;
  color: #aaaaaa;
}
section.input-container .demo-box p a {
  color: #aaaaaa;
}
section.input-container .demo-box #demo-button {
  width: 4rem;
  height: 1.2rem;
  font-size: 0.6rem;
  color: #aaaaaa;
}
section.input-container .demo-box #demo-button:hover {
  border-color: #e61532;
  color: #e61532;
}
section.input-container #about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.input-container #about span {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  color: #e61532;
}
section.input-container #about a {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  color: #454545;

}
section.input-container #about a:hover {
  color: #e61532;
}
section.loader-container {
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.loader-container #loader {
  height: 2rem;
}
section.chart-container #chart {
  width: 100%;
  height: calc(100% - 4rem);
  padding-top: 4rem;
  background: white;
  overflow: scroll;
}

@media only screen and (max-width: 1199px){
  section.input-container .input-box {
    width: 70%;
  }
}