#chart svg text {
  font: 14px sans-serif;
}

#chart svg path {
  fill: none;
  stroke: #555;
  stroke-width: 1.5;
  stroke-opacity: 0.4;
}

#chart svg circle.node {
  fill: #e61532;
}
#chart svg circle.leaf {
  fill: #454545;
}